@model JavnaNabava.ViewModels.KompetencijeViewModel


@{
    ViewBag.Title = "Kompetencije";
}

<h2>Popis svih kompetencija</h2>

<a asp-action="Create">Unos nove kompetencije</a>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu"
       class="float-right">
</pager>

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                    Šifra kompetencije
                </a>
            </th>
            <th>
                <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">
                    Detalji kompetencije
                </a>
            </th>
            <th>
                <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    OIB stručnjaka
                </a>
            </th>
            <th>
                <a asp-route-sort="4" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 4 ? !Model.PagingInfo.Ascending : true)">
                    Vrsta kompetencije
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kompetencija in Model.Kompetencije)
        {
        <tr>
            <td class="text-center">@kompetencija.SifKompetencije</td>
            <td class="text-left">@kompetencija.DetaljiKompetencije</td>
            <td class="text-left">@kompetencija.Oibstrucnjaka</td>
            <td class="text-left">@kompetencija.NazivVrsteKompetencije</td>

            <td class="btn-group">
                <a asp-action="Edit"
                   asp-route-id="@kompetencija.SifKompetencije"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="@Model.PagingInfo.Sort"
                   asp-route-ascending="@Model.PagingInfo.Ascending"
                   class="btn btn-sm" title="Ažuriraj"><i class="fas fa-edit"></i></a>

                <form asp-action="Delete" method="post"
                      asp-route-page="@Model.PagingInfo.CurrentPage"
                      asp-route-sort="@Model.PagingInfo.Sort"
                      asp-route-ascending="@Model.PagingInfo.Ascending">
                    <input type="hidden" name="sifKompetencije" value="@kompetencija.SifKompetencije" />
                    <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši"><i class="fas fa-trash-alt"></i></button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>

@section scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>
}
